header {
    display: block;
    background: green;
    padding: 10px;
    text-align: center;
    color: yellow;
}
header span { 
  display: inline; 
  color: red; 
} 
.inline-block-menu ul {
list-style: none;
padding: 0;

}
.inline-block-menu li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
.inline-block-menu a{
    text-decoration: none;
    padding: 5px;
    background: rgb(110, 112, 154);
    color: antiquewhite;
}
.float-menu ul{
    list-style: none;
    padding: 0px;
}
.float-menu li{
    float: left;
    margin-right: 10px;

}
.float-menu a{
    text-decoration: none;
    padding: 5px;
    background: lightgreen;
    color: black;
}
.clear{
    clear: both;
}