* {box-sizing: border-box; margin: 0; padding: 0; font-family:'Times New Roman', Times, serif;}
body{
    background:fixed; color: black; padding: 20px;
}
.site-header { 
  display: block;                
  background: blue; 
  color: beige; 
  padding: 12px; 
  text-align: center; 
  margin-bottom: 18px;   
}

.container {
    max-width: 420px;
    margin: 0 auto;
}
.product {
   background: #fff;
    border: 1px solid white;
    padding: 12px;
    width: 100%;
    height: auto;
    border-radius: 6px;
}
.tshirt {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display:block;
    margin-bottom: 10px;
    border: 1px solid skyblue;
}
.product-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 6px;
    font-family:'Times New Roman', Times, serif;
}
.product-description{
    text-align: center;
    font-size: 14px;
    color: grey;
    margin-bottom: 10px;
}
.price-chart {
    margin-bottom: 10px;
}
.price{
    font-weight: 1000;
    color: green;
    margin-right: 8px;
    display: inline;
    font-size: 20px;
}
.old-price {
    color: gray;
    text-decoration: line-through;
    display: inline;
    font-size: 20px;
}
.add-cart{
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px;
    background: red;
    color: antiquewhite;
    font-size: large;
    cursor: pointer;
    border-radius: 40px;
    border: none;
}
@media (max-width; 20px)
{.product-image{height: 60px;}}
}
